# Server Configuration
SERVER_HOST=localhost
SERVER_PORT=8080
SERVER_READ_TIMEOUT=30
SERVER_WRITE_TIMEOUT=30
SERVER_ENV=dev
SERVER_SCHEME=http

# Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=your_secure_password
DATABASE_NAME=serenibase
DATABASE_SSL_MODE=disable
DATABASE_MAX_OPEN_CONNS=25
DATABASE_MAX_IDLE_CONNS=5
DATABASE_DRIVER=postgres

# Auth Configuration
AUTH_URL=http://localhost:8081
AUTH_RESET_PASSWORD_URL=http://localhost:5050/reset-password?token=%s

# Redis Configuration
REDIS_ENABLED=true
REDIS_URL=redis://localhost:6379
REDIS_PASSWORD=your_redis_password

# Email Configuration
EMAIL_URL=http://localhost:8082/api/v1/email


# Logging Configuration
LOG_LEVEL=info
LOG_FILE=app.log
LOG_MAX_SIZE=50
LOG_MAX_BACKUPS=10
LOG_MAX_AGE=30
LOG_COMPRESS=true

# Asset Configuration
ASSET_MAX_SIZE=5242880

# Temporary User Password
TEMPORARY_USER_PASSWORD=YourSecurePassword123!@#

# Owner Registration Configuration
OWNER_FIRST_NAME=Admin
OWNER_LAST_NAME=User
OWNER_EMAIL=admin@yourdomain.com
OWNER_PASSWORD=SecureAdminPassword123!

# Antivirus URL Configuration
ANTIVIRUS_URL=http://localhost:8084

# Storage URL Configuration
STORAGE_URL=http://localhost:8083/api/v1